@page
@model Vision.Pages.Shared.testModel
@{
}
<div class="content">
    <!--section-->
    <section class="gray-bg small-padding no-top-padding-sec" id="sec1">
        <div class="container">
            <div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
                <a href="#">Home</a><a href="#">Pages</a> <a href="#">Shop</a><span>Product Single</span>
                <div class="showshare brd-show-share color2-bg"> <i class="fas fa-share"></i> Share </div>
            </div>
            <div class="share-holder hid-share sing-page-share top_sing-page-share">
                <div class="share-container  isShare"></div>
            </div>
            <div class="mob-nav-content-btn  color2-bg show-list-wrap-search ntm fl-wrap"><i class="fal fa-filter"></i>  Filters</div>
            <div class="fl-wrap">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" fl-wrap lws_mobile">

                            ##487##
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                           
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <!--box-widget-item end -->

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="fl-wrap block_box product-header">
                            <div class="product-header-details">
                                ##488##
                                <div class="row">
                                    ##489##

                                    <div class="col-md-6">
                                        ##483##
                                        ##484##

                                        <span class="fw-separator"></span>
                                        <div class="clearfix"></div>
                                        ##490##

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop-tabs-->
                        <div class="tabs-act fl-wrap">
                            <div class="shop-tabs-menu " id="st-menu">
                                <ul class="tabs-menu fl-wrap no-list-style">
                                    <li class="current"><a href="#shop-tab1">Details</a></li>
                                    <li><a href="#shop-tab2">Extra Features</a></li>

                                </ul>
                            </div>
                            <!-- shop-tabs-->
                            <!-- shop-tabs-->
                            <div class="shop-tabs fl-wrap block_box">
                                <!--tabs -->
                                <div class="tabs-container fl-wrap">
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="shop-tab1" class="tab-content  first-tab ">
                                            <div class="shop-tab-container">
                                                <ul class="no-list-style shop-list fl-wrap">
                                                    <li><span>Area:</span> ##493##</li>
                                                    ##485##
                                                    ##486##
                                                    ##491##
                                                    ##492##
                                                    ##494##
                                                    ##495##
                                                    ##496##
                                                    ##497##
                                                    ##498##

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab end-->
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="shop-tab2" class="tab-content">
                                            <div class="shop-tab-container">
                                                
                                                <ul class="no-list-style shop-list fl-wrap">
                                                    <li><span>Product Number :</span>#41121120</li>
                                                    <li><span>Ingredients : </span> meat ,  mustard  , ketchup ,  bread</li>
                                                    <li><span>The weight : </span>  5 pounds / 2,3 kg</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab end-->
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="shop-tab3" class="tab-content">
                                            <div class="shop-tab-container">
                                                <div class="reviews-comments-wrap">
                                                    <!-- reviews-comments-item -->
                                                    <div class="reviews-comments-item">
                                                        <div class="review-comments-avatar">
                                                            <img src="images/avatar/1.jpg" alt="">
                                                        </div>
                                                        <div class="reviews-comments-item-text fl-wrap">
                                                            <div class="reviews-comments-header fl-wrap">
                                                                <h4><a href="#">Liza Rose</a></h4>
                                                                <div class="review-score-user">
                                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                                </div>
                                                            </div>
                                                            <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
                                                            <div class="reviews-comments-item-footer fl-wrap">
                                                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April 2018</span></div>
                                                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>2</span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--reviews-comments-item end-->
                                                    <!-- reviews-comments-item -->
                                                    <div class="reviews-comments-item">
                                                        <div class="review-comments-avatar">
                                                            <img src="images/avatar/1.jpg" alt="">
                                                        </div>
                                                        <div class="reviews-comments-item-text fl-wrap">
                                                            <div class="reviews-comments-header fl-wrap">
                                                                <h4><a href="#">Adam Koncy</a></h4>
                                                                <div class="review-score-user">
                                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                                </div>
                                                            </div>
                                                            <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. "</p>
                                                            <div class="reviews-comments-item-footer fl-wrap">
                                                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>03 December 2017</span></div>
                                                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>4</span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--reviews-comments-item end-->
                                                </div>
                                            </div>
                                            <span class="fw-separator"></span>
                                            <!-- Add Review Box -->
                                            <div id="add-review" class="shop-review-box fl-wrap">
                                                <!-- Review Comment -->
                                                <div class="leave-rating-wrap">
                                                    <span class="leave-rating-title">Add a review: </span>
                                                    <div class="leave-rating">
                                                        <input type="radio" name="rating" id="rating-1" value="1" />
                                                        <label for="rating-1" class="fas fa-star"></label>
                                                        <input type="radio" name="rating" id="rating-2" value="2" />
                                                        <label for="rating-2" class="fas fa-star"></label>
                                                        <input type="radio" name="rating" id="rating-3" value="3" />
                                                        <label for="rating-3" class="fas fa-star"></label>
                                                        <input type="radio" name="rating" id="rating-4" value="4" />
                                                        <label for="rating-4" class="fas fa-star"></label>
                                                        <input type="radio" name="rating" id="rating-5" value="5" />
                                                        <label for="rating-5" class="fas fa-star"></label>
                                                    </div>
                                                </div>
                                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label><i class="fal fa-user"></i></label>
                                                                <input type="text" placeholder="Your Name *" value="" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label><i class="fal fa-envelope"></i>  </label>
                                                                <input type="text" placeholder="Email Address*" value="" />
                                                            </div>
                                                        </div>
                                                        <textarea cols="40" rows="3" placeholder="Your Review:"></textarea>
                                                        <div class="clearfix"></div>
                                                        <button class="btn  color2-bg  float-btn">Submit Review <i class="fal fa-paper-plane"></i></button>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- Add Review Box / End -->
                                        </div>
                                    </div>
                                </div>
                                <!--tab end-->
                            </div>
                            <!--tabs end-->
                        </div>
                        <!-- shop-tabs end-->
                        <!-- list-single-main-item -->
                        <!-- list-single-main-item end -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--section end-->
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end-->
<!--cart  -->
<div class="cart-overlay"></div>
<!--cart end-->               