@using Vision.Models;
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SingleBussinessDetailsModel

  <!-- list-single-main-item -->
<div class="box-widget-item fl-wrap block_box">
    <div class="box-widget-item-header">
        <h3>Tags</h3>
    </div>
    <div class="box-widget   fl-wrap">
        <div class="box-widget-content">
            <div class="list-single-tags tags-stylwrap">
                <a href="#">Hotel</a>
                <a href="#">Hostel</a>
                <a href="#">Room</a>
                <a href="#">Spa</a>
                <a href="#">Restourant</a>
                <a href="#">Parking</a>
            </div>
        </div>
    </div>
</div>
<!-- list-single-main-item end -->