@using Vision.Models;
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ViewModels.BusinessUserInfo
<div class="box-widget-item fl-wrap block_box">
    <div class="box-widget-item-header">
        <h3>Hosted by : </h3>
    </div>
    <div class="box-widget">
        <div class="box-widget-author fl-wrap">
            <div class="box-widget-author-title">
                <div class="box-widget-author-title-img">
                    <img src="/@Model.Pic" alt="">
                </div>
                <div class="box-widget-author-title_content">
                    <a href="user-single.html">@Model.FullName</a>
                </div>
                <div class="box-widget-author-title_opt">
                    <a href="/UserBusinessSingleProfile?id=@Model.UserId" class="tolt green-bg" data-microtip-position="top" data-tooltip="View Profile"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>