@using Vision.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BusinessTemplateConfig





<div class="fu-text">
	<span><i class="fal fa-images"></i> Click here or drop @Model.BusinessTemplateFieldCaptionEn</span>
	<div class="photoUpload-files fl-wrap"></div>
</div>
<input multiple class="form-control" type="file" accept="image/*" name="@Model.BusinessTemplateConfigId" id="@Model.BusinessTemplateConfigId" required="@Model.IsRequired.ToString()">


