@using Vision.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ClassifiedBusiness
<div class="fu-text">
	<span><i class="fal fa-images"></i> Click here or drop photo</span>
	<div class="photoUpload-files fl-wrap"></div>
</div>
<input class="form-control" type="file" accept="image/*" name="file" required>
