<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <packageSources>
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 22.2\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
  </packageSources>
</configuration>-->
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
	</packageRestore>
</configuration>