@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Vision.ViewModels.UserProfileMainInfoVM

<div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
    <div class="row g-4">
        <div class="col-auto">
            <div class="avatar-lg">
                @{
                    if (Model.Image == null)
                    {
                        <img src="~/assets/images/users/avatar-1.jpg" alt="user-img"
                     class="img-thumbnail rounded-circle" />
                    }
                    else
                    {
                        <img  src = "~/@Model.Image" alt="user-img"
                     class="img-thumbnail rounded-circle" />
                       
                        }
                }
               
            </div>
        </div>
        <!--end col-->
        <div class="col">
            <div class="p-2">
                <h3 class="text-white mb-1">@Model.FullName</h3>
                <p class="text-white-75">User</p>
@*                <div class="hstack text-white-50 gap-1">
                    <div class="me-2">
                        <i class="ri-map-pin-user-line me-1 text-white-75 fs-16 align-middle"></i>California,
                        United States
                    </div>
                    <div>
                        <i class="ri-building-line me-1 text-white-75 fs-16 align-middle"></i>Themesbrand
                    </div>
                </div>
*@            </div>
        </div>
        <!--end col-->
        <div class="col-12 col-lg-auto order-last order-lg-0">
            <div class="row text text-white-50 text-center">
                <div class="col-lg-6 col-4">
                    <div class="p-2">
                        <h4 class="text-white mb-1">@Model.Followers</h4>
                        <p class="fs-14 mb-0">Followers</p>
                    </div>
                </div>
               
            </div>
        </div>
        <!--end col-->

    </div>
    <!--end row-->
</div>
