@model Vision.Models.UserVM
@{
}

@*User Profile*@
							<div class="box-widget-item fl-wrap block_box">
										<div class="box-widget-item-header">
											<h3>Hosted by : </h3>
										</div>
										<div class="box-widget">
											<div class="box-widget-author fl-wrap">
												<div class="box-widget-author-title">
													<div class="box-widget-author-title-img">
														<img src="images/avatar/5.jpg" alt="">
													</div>
													<div class="box-widget-author-title_content">
														<a href="user-single.html">@Model.Name</a>
														<span>@Model.Phone</span>
													</div>
													<div class="box-widget-author-title_opt">
														<a href="user-single.html" class="tolt green-bg" data-microtip-position="top" data-tooltip="View Profile"><i class="fas fa-user"></i></a>
														<a href="#" class="tolt color-bg cwb" data-microtip-position="top" data-tooltip="Chat With Owner"><i class="fas fa-comments-alt"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>